.button{
    color: #ddd;
    background-color: #28A745;
    outline: none;
    border-radius: 2px;
    border: 1px solid #28A745;
    padding: .5rem .75rem;
    cursor: pointer;
    transition: .5s;
}
.button:hover{
    background-color: #179620;
}
.button.danger{
    background-color: #DC3545;
    border: 1px solid #DC3545;
}
.button.danger:hover{
    background-color: #c03340;
}
.button.info{
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

.button.disabled{
    pointer-events: none;
    opacity: .5;
}

.button.responsive{
    width: 100%;
}
.button.disabled{
    opacity: .5;
    pointer-events: none;
}