.dishes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.dishes-container .switcher{
    display: flex;
    align-self: flex-start;
}

.dishes-container .switcher > * {
    margin-left: 1rem;
}

.dishes-container .dish{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}
.dish-actions{
    display: flex;
    min-width: 15rem;
}
.dish-actions > *{
    margin-left: 1rem;
}

.dishes-container .dish .information-container{
    display: flex;
    align-items: center;
}

.dishes-container .dish .information-container .ingredients-container-in-dishes{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.dishes-container .dish .information-container .ingredients-container-in-dishes > *{
    border-right: 2px solid #bbb;
    padding: 0 1rem;
}