.orderlist-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.orderlist-container .table-number{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

.orderlist-container .dishlist-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}
.orderlist-container .dishlist-container > *{
    border-right: 2px solid #bbb;
    padding: 0 1rem;
    margin: .5rem 0;
}

.orderlist-container .actions{
    margin-left: auto;
}

.orderlist-container .actions > *{
    margin-left: 1rem;
}

.desc{
    font-size: 1.1rem;
    font-weight: 500;
}