.ingredients-container{
    display: flex;
    flex-direction: column;
}
.ingredient{
    display: flex;
    align-items: center;
    margin: .5rem 0;
}
.ingredient:hover{
    background-color: #ddd;
}
.ingredient > * {
    margin-left: .5rem;
}
.ingredient .name {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ingredient img{
    width: 100px;
    height: 100px;
}
.switcher-container{
    display: flex;
    justify-content: flex-end;
}
.switcher-container > *{
    margin-left: 1rem;
}

input[type="file"]::-webkit-file-upload-button{
    display: none;
}

input[type="file"]::before{
    content: 'Select files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
}
input[type="file"].change::before{
    content: 'Change avatar';
}